body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 100%;
  max-width: 400px; /* Limita a largura */
  box-sizing: border-box;
}

.login-container h2 {
  margin-top: 0;
  text-align: center;
}

.login-container input {
  width: 100%; /* Garante que fique dentro da div */
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px; /* <-- adicione esta linha */
}


.login-container button {
  width: 100%;
  padding: 0.75rem;
  background-color: #4E2A1E;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #4e2a1eb7
}

#error {
  color: red;
  margin-top: 0.5rem;
  text-align: center;
}

@media (max-width: 360px) {
  .login-container {
    padding: 1rem;
    margin: 1rem;
  }

  .login-container h2 {
    font-size: 1.4rem;
  }

  .login-container input, 
  .login-container button {
    font-size: 14px;
    padding: 0.5rem;
  }
}

.login-container img {
  display: block;
  margin: 0 auto 1px auto; 
  max-width: 180px;
  height: auto;
}


